:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtitel-text: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --invert-color: #fff;

  --background-color: #fff;
  --logo-black-color: #000;
  --font-family: "Roboto", sans-serif;
  --logo-font-family: "Realway", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* .btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
} */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
  margin: 0 auto;
}

body {
  background-color: var(--bacground-color);
  color: var(--dark-color);
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----------------HEADER----------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--accent-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  font-family: var(--logo-font-family, sans-serif);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo {
  color: var(--primary-brand-color);
}

.header-logo-accent {
  color: var(--dark-color);
}

.header-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.header-link {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: var(--dark-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--pressed-state-color);
  /* cursor: pointer; */
}

.header-contact {
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* SLATE */
  color: var(--text-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--pressed-state-color);
  /* cursor: pointer; */
}

/* .current {
  color: var(--primary-brand-color);
} */

/* ---------Hero section-------------- */

.hero-section > .container {
  align-content: center;
}

.hero-section {
  background-color: var(--dark-color);
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;
  align-items: center;
}

.hero-header {
  /* Header 1 */
  font-family: inherit;
  font-size: 56px;
  line-height: calc(60 / 56);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--invert-color);
  margin: 0 auto;
  width: 496px;
  height: 120px;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: var(--invert-color);
  background-color: var(--primary-brand-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;

  display: block;
  margin: 0 auto;
  padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--invert-color);
  background-color: var(--pressed-state-color);
  cursor: pointer;
}

.hero-btn:active {
  color: var(--invert-color);
  background-color: var(--pressed-state-color);
}
/* ------------------Advantages section---------------- */
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-header {
  /* Header 3 */
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: inherit;
}

.advantages-text {
  /* Body */
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* SLATE */
  color: var(--text-color);
}

/* ------------------What are we doing section---------------- */
.do {
  padding-bottom: 120px;
}
.section-header {
  /* Header 2 */
  font-family: inherit;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: inherit;
  margin-bottom: 72px;
}
.do-list {
  display: flex;
  gap: 24px;
}

/* ------------------Our Team section---------------- */
.team-section {
  background-color: var(--light-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: var(--background-color);
}

.team-header {
  /* Header 3 */
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: inherit;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-text {
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  /* SLATE */
  color: var(--text-color);
  margin-bottom: 32px;
}

/* -----------------FOOTER----------------------- */
.footer-section {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo-accent {
  color: var(--light-color);
}

.footer-text {
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* CORNFLOWER */
  color: var(--accent-color);
  margin-top: 16px;
  width: 264px;
  height: 110px;
}

/* -----------------Portfolio page----------------------- */

/* -----------------Portfolio button-------------- */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-btn-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-btn {
  /* Button Text */
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  /* IRIS */
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  /* CORNFLOWER */
  border: 1px solid var(--accent-color);
  border-radius: 4px;

  padding: 12px 24px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--pressed-state-color);
  color: var(--invert-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-btn-active {
  background-color: var(--pressed-state-color);
  color: var(--invert-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* -----------------Portfolio projects-------------- */

.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-pj-card {
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  padding: 32px 16px;
}
.portfolio-project-header {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: inherit;
  margin-bottom: 8px;
}
.portfolio-project-text {
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* SLATE */
  color: var(--text-color);
}
